# Ignore everything by default
*
# Unignore
!.gitignore

# Vim
!.vim/
!.vim/**
.vim/plugged
.vim/.netrwhist
!.vimrc

# Zsh
!.zshrc
!.oh-my-zsh

# Alacritty
!.config/alacritty/alacritty.yml

# Arch config
!.config/compton
!.config/fontconfig
!.config/i3
!.config/i3status
!.config/termite
!.config/yay
!.xbindkeysrc
!.xinitrc
!.Xauthority

